<br/>
<br/>
<br/>

<div class="span6 offset4 smurfy text-center">

	<h1 class="custom-h1">
	Natalie's Page
	</h1>

	<h2>
	Learning to Code
	</h2>

	<%= link_to 'Launch', '#', :class => 'btn btn-info btn-medium' %>

</div>