<% @pics.each_slice(3) do |slice| %>
<div class="row">
<% slice.each do |pic| %>

	<div class="smurfy span4 text-center">
		<h1 class="custom-h1">
			Title: <%= pic.title %>
		</h1>
		<br />

		<%= image_tag pic.image %>

		<br />

		<h2>
		Subtitle: <%= pic.subtitle %>
		</h2>

		<h2>
		<br />
		Message: <%= pic.message %>
		</h2>

	</div>
	<% end %>
	</div>
	< br/>
<% end %>